<!-- <div *ngIf="userLoginOn">
    <p>{{userData?.nombre}}</p>
</div>r -->
<!-- <h1><a routerLink="/proyectos">Proyectos</a></h1> -->
<!-- <p>{{userData?.nombre}}</p> -->
<header>
    <ul>
        <li><a routerLink="proyectos" routerLinkActive="active-link">Proyectos</a></li>
        <li><a routerLink="gestion" routerLinkActive="active-link">Gestion</a></li>
        <li><a routerLink="inventario" routerLinkActive="active-link">Inventario</a></li>
    </ul>
    <h1 class="title">{{ userData?.nombre | titlecase }}</h1>
    <a class="out" routerLink="/"><img src="/assets/images/logout.png"></a>
</header>