<main>
    <section id="home">
        <h1>Bienvenido al Software de Gestión de Inventarios</h1>
        <p>Controla tu inventario de forma fácil y eficiente con nuestro software.</p>
    </section>

    <section id="product">
        <h2>Productos</h2>
        <h3>Características</h3>
        <ul>
          <li>Gestión de productos</li>
          <li>Gestión de proveedores</li>
          <li>Gestión de compras</li>
          <li>Gestión de ventas</li>
          <li>Gestión de stock</li>
        </ul>
        <div class="product-images">
            <!-- Aquí coloca las imágenes que ilustren el producto -->
            <img src="/images/pexels-photo-3777622.jpeg" alt="Producto 1">
            <img src="/images/pexels-photo-3777622.jpeg" alt="Producto 2">
            <!-- Añade más imágenes según sea necesario -->
        </div>
    </section>

    <section id="service">
        <h2>Servicios</h2>
        <ul>
            <li>Soporte técnico</li>
            <li>Actualizaciones periódicas</li>
            <li>Formación</li>
          </ul>
    </section>

    <section id="contact">
        <h2>Contacto</h2>
        <p>Ponte en contacto con nosotros para obtener más información.</p>
        <ul class="contact-info">
            <li>Email: info@tuempresa.com</li>
            <li>Teléfono: +123456789</li>
        </ul>
    </section>
    <footer>   
        <p>Copyright © 2023</p>
      </footer>
</main>
