<form [formGroup]="registroForm">
    <h3>Regístrate</h3>
    
    <label for="username">Nombre:</label>
    <input formControlName="nombre" type="text" placeholder="Nombre" id="nombre">

    <label for="username">Email:</label>
    <input formControlName="email" type="email" placeholder="Email" id="email">

    <label for="password">Contraseña:</label>
    <input formControlName="password" type="password" placeholder="Contraseña" id="password">
    
    <label for="confirm">Confirmar contraseña:</label>
    <input formControlName="confirmPassword" type="password" placeholder="Confirmar contraseña" id="comfirm">

    <button type="submit" (click)="registro()">Registrar</button>
    
</form>
