<main [ngSwitch]="proyecto.categoria.id">

<div class="categoria" *ngSwitchCase="1">
    <h1>Tu proyecto no pertenece a ninguna categoria</h1>
</div>

<div class="pollos" *ngSwitchCase="2">
  <h1>Criando Pollos Felices: Consejos para una Crianza Exitosa</h1>
  <p>
    Criar pollos puede ser una experiencia maravillosa y gratificante. Con el
    cuidado adecuado, tus pollos te recompensarán con huevos frescos y compañía
    alegre. Dedica tiempo a entender sus necesidades y disfruta de la relación
    única que se desarrolla entre tú y tus aves. ¡Buena suerte en tu aventura de
    crianza de pollos!
  </p>
  <h2>1. Construyendo el Hogar Perfecto:</h2>

  <p>
    Antes de llevar a casa a tus primeros polluelos, es esencial tener un
    gallinero adecuado. Asegúrate de que sea lo suficientemente grande para
    proporcionar espacio adecuado a cada pollo y que esté bien ventilado. Un
    área al aire libre también es fundamental para que los pollos puedan
    disfrutar de la luz solar y picotear en el suelo.
  </p>
  <h2>2. Selección de Razas:</h2>

  <p>
    Al elegir qué tipo de pollos criar, considera factores como la cantidad de
    huevos que producen, su resistencia a enfermedades y su temperamento. Razas
    populares para la puesta de huevos incluyen Rhode Island Red y Sussex,
    mientras que las Plymouth Rock y Orpington son conocidas por ser más
    tranquilas y fáciles de manejar.
  </p>
  <h2>3. Nutrición Adecuada:</h2>

  <p>
    Una alimentación equilibrada es esencial para el crecimiento y la salud de
    tus pollos. Proporciónales una dieta rica en proteínas, granos enteros y
    verduras frescas. Asegúrate de que siempre tengan acceso a agua limpia y
    fresca.
  </p>
  <h2>4. Cuidados Diarios:</h2>

  <p>
    Establece una rutina diaria para revisar a tus pollos. Observa cualquier
    signo de enfermedad, como plumaje erizado o comportamiento apático.
    Asegúrate de que el gallinero esté limpio y recolecta los huevos
    diariamente. La prevención es clave para mantener un grupo de pollos
    saludables.
  </p>
  <h2>5. Socialización y Entretenimiento:</h2>

  <p>
    Los pollos son animales sociales, por lo que es importante pasar tiempo con
    ellos. Proporciónales juguetes y accesorios para mantener su mente activa.
    Además, permitir que exploren el entorno al aire libre contribuirá a su
    bienestar general.
  </p>
  <h2>6. Manejo y Entrenamiento:</h2>

  <p>
    Desde temprana edad, acostumbra a tus pollos a ser manejados. Esto
    facilitará su cuidado a medida que crezcan. Puedes usar golosinas para
    incentivar un comportamiento positivo, como acudir cuando los llamas.
  </p>
  <h2>7. Control de Parásitos y Enfermedades:</h2>

  <p>
    Mantén un programa regular de desparasitación y vacunación para prevenir
    enfermedades. Observa cualquier cambio en el comportamiento o síntomas
    inusuales y actúa rápidamente para abordar cualquier problema de salud.
  </p>
</div>

<div class="cerdos" *ngSwitchCase="3">
  <h1>Crianza Exitosa de Cerdos: Consejos para un Manejo Satisfactorio</h1>
  <p>
    La crianza de cerdos puede ser una experiencia gratificante cuando se aborda
    con cuidado y atención. Al seguir estos consejos, podrás criar cerdos sanos
    y felices, proporcionando no solo carne de calidad, sino también
    estableciendo una conexión especial con estos inteligentes animales. ¡Buena
    suerte en tu aventura de crianza de cerdos!
  </p>
  <h2>1. Espacio y Alojamiento:</h2>

  <p>
    Proporcionar un ambiente adecuado es crucial. Asegúrate de que los cerdos
    tengan suficiente espacio para moverse cómodamente. Los corrales deben ser
    seguros y proporcionar sombra, especialmente en climas cálidos.
  </p>

  <h2>2. Elección de Razas:</h2>

  <p>
    Al elegir razas de cerdos, considera factores como la tasa de crecimiento,
    la eficiencia alimentaria y la adaptabilidad al clima local. Razas como
    Yorkshire y Hampshire son conocidas por sus características de cría
    eficiente.
  </p>

  <h2>3. Alimentación Balanceada:</h2>

  <p>
    Una dieta equilibrada es esencial para el crecimiento y la salud de los
    cerdos. Proporciona alimentos que cumplan con sus necesidades nutricionales
    específicas en cada etapa de su desarrollo. Consulta con un nutricionista
    animal para obtener recomendaciones específicas.
  </p>

  <h2>4. Instalaciones Limpias:</h2>

  <p>
    Mantén las instalaciones limpias y bien ventiladas. Los cerdos pueden ser
    propensos a enfermedades si se encuentran en entornos sucios. Proporciona
    áreas secas y cómodas para dormir.
  </p>

  <h2>5. Manejo de Estrés:</h2>

  <p>
    Los cerdos son sensibles al estrés. Evita cambios bruscos en su entorno y
    maneja a los animales con calma. La manipulación frecuente desde una edad
    temprana puede acostumbrar a los cerdos al contacto humano.
  </p>

  <h2>6. Atención Veterinaria Regular:</h2>

  <p>
    Programa chequeos veterinarios periódicos y mantén al día las vacunas y
    tratamientos para prevenir enfermedades. La detección temprana de problemas
    de salud es crucial en la crianza de cerdos.
  </p>

  <h2>7. Espacio al Aire Libre y Enriquecimiento Ambiental:</h2>

  <p>
    Proporciona acceso a áreas al aire libre para que los cerdos puedan explorar
    y realizar comportamientos naturales como rebuscar. Juguetes y elementos
    enriquecedores pueden mantener a los cerdos mentalmente estimulados.
  </p>

  <h2>8. Control de Peso y Crecimiento:</h2>

  <p>
    Mide y controla el peso de los cerdos regularmente. Ajusta la alimentación
    según las necesidades para asegurar un crecimiento saludable sin exceso de
    peso.
  </p>

  <h2>9. Respeto a las Necesidades Naturales:</h2>

  <p>
    Observa y respeta las necesidades naturales de los cerdos. Proporciónales un
    ambiente que permita el comportamiento social y las interacciones sociales.
  </p>
</div>

<div class="peces" *ngSwitchCase="4">

  <h1>Crianza Exitosa de Peces: Consejos para la Acuicultura Sostenible</h1>
  <p>
    La crianza de peces es una forma emocionante y sostenible de producir
    alimentos. Al seguir estos consejos, no solo asegurarás la salud y el
    bienestar de tus peces, sino que también contribuirás a la producción
    responsable de alimentos acuáticos. ¡Buena suerte en tu empresa acuícola!
  </p>
  <h2>1. Selección de Especies:</h2>


  <p>
    Antes de comenzar, investiga y elige cuidadosamente las especies de peces
    que criarás. Considera factores como la demanda del mercado, los requisitos
    de agua y las condiciones ambientales necesarias para cada especie.
  </p>


  <h2>2. Calidad del Agua:</h2>


  <p>
    Mantén una calidad del agua óptima. Monitorea regularmente parámetros como
    la temperatura, el pH, la concentración de oxígeno y los niveles de
    amoníaco. Asegúrate de contar con sistemas de filtración adecuados.
  </p>


  <h2>3. Infraestructura del Estanque o Sistema Acuícola:</h2>


  <p>
    Construye estanques o sistemas acuícolas que se adapten a las necesidades de
    tus peces. Proporciona refugios y estructuras que imiten su entorno natural
    para promover el comportamiento natural.
  </p>


  <h2>4. Alimentación Balanceada:</h2>


  <p>
    Proporciona una dieta equilibrada y de alta calidad. Ajusta las cantidades
    de alimento según la etapa de vida de los peces y las condiciones del
    entorno. Evita el desperdicio de alimentos y la sobrealimentación.
  </p>


  <h2>5. Salud y Prevención de Enfermedades:</h2>


  <p>
    Implementa prácticas de gestión de la salud para prevenir enfermedades.
    Realiza inspecciones regulares y, si es necesario, consulta a un veterinario
    acuático. Aísla cualquier pez enfermo para evitar la propagación de
    enfermedades.
  </p>


  <h2>6. Monitoreo del Crecimiento:</h2>
 

  <p>
    Monitorea el crecimiento de tus peces regularmente. Ajusta la densidad de
    población si es necesario y asegúrate de que todos los peces tengan
    suficiente espacio para crecer de manera saludable.
  </p>


  <h2>7. Sostenibilidad Ambiental:</h2>


  <p>
    Adopta prácticas sostenibles para minimizar el impacto ambiental. Utiliza
    sistemas de reciclaje de agua, elige alimentos provenientes de fuentes
    sostenibles y evita el uso excesivo de productos químicos.
  </p>


  <h2>8. Control de Depredadores y Plagas:</h2>


  <p>
    Implementa medidas de control para prevenir la entrada de depredadores y
    plagas. Utiliza redes y barreras adecuadas para proteger tus peces y su
    entorno.
  </p>


  <h2>9. Registros y Documentación:</h2>


  <p>
    Mantén registros detallados sobre la salud, el crecimiento y las condiciones
    del agua. Esto te ayudará a tomar decisiones informadas y a optimizar tus
    prácticas de acuicultura.
  </p>


  <h2>10. Educación Continua:</h2>


  <p>
    Continúa educándote sobre las mejores prácticas de acuicultura. Mantente al
    tanto de las últimas investigaciones y tecnologías para mejorar
    constantemente tus métodos de crianza de peces.
  </p>

</div>

<div class="vacas" *ngSwitchCase="5">
  <h1>
    Guía Completa para la Crianza Exitosa de Vacas: Consejos para el Manejo
    Ganadero
  </h1>
  <p>
    La crianza de vacas es una tarea compleja pero gratificante. Al seguir estos
    consejos, no solo garantizarás el bienestar de tu ganado, sino que también
    establecerás una base sólida para la producción sostenible de carne y
    productos lácteos. ¡Buena suerte en tu aventura ganadera!
  </p>
  <h2>1. Infraestructura Ganadera:</h2>

  <p>
    Antes de comenzar, asegúrate de contar con instalaciones adecuadas. Los
    corrales deben ser seguros, proporcionar sombra y acceso a agua limpia. Un
    área cubierta para proteger a las vacas de condiciones climáticas extremas
    también es esencial.
  </p>

  <h2>2. Elección de Razas y Propósito:</h2>

  <p>
    Selecciona razas de vacas que se adapten a tus objetivos, ya sea carne o
    leche. Razas como Angus son conocidas por su calidad de carne, mientras que
    Holstein es una raza lechera popular.
  </p>

  <h2>3. Nutrición Balanceada:</h2>

  <p>
    Garantiza una dieta equilibrada para tus vacas que satisfaga sus necesidades
    nutricionales específicas. La calidad del forraje y los suplementos
    alimenticios son esenciales, especialmente durante la gestación y la
    lactancia.
  </p>

  <h2>4. Manejo de Pastoreo:</h2>

  <p>
    Implementa un sistema de pastoreo rotativo para mantener la calidad del
    pasto. Esto no solo mejora la salud del ganado, sino que también optimiza el
    uso de los recursos naturales.
  </p>

  <h2>5. Atención Veterinaria y Programa de Vacunación:</h2>

  <p>
    Programa chequeos veterinarios regulares y sigue un programa de vacunación.
    Esto ayuda a prevenir enfermedades y asegura la salud a largo plazo de tu
    rebaño.
  </p>

  <h2>6. Cuidado Durante la Gestación y Parto:</h2>

  <p>
    Proporciona cuidados especiales a las vacas gestantes. Asegúrate de contar
    con instalaciones adecuadas para el parto y supervisa de cerca el proceso
    para resolver problemas potenciales.
  </p>

  <h2>7. Agua y Sombra:</h2>

  <p>
    Asegúrate de que las vacas siempre tengan acceso a agua limpia y sombra,
    especialmente en climas cálidos. La hidratación adecuada es clave para su
    salud y bienestar.
  </p>

  <h2>8. Manejo Del Estrés y Comportamiento Natural:</h2>

  <p>
    Maneja a las vacas con calma y evita situaciones estresantes. Proporciona
    espacio para que expresen comportamientos naturales, como acicalarse y
    descansar.
  </p>

  <h2>9. Monitoreo del Estado Corporal y Peso:</h2>

  <p>
    Monitorea el estado corporal y el peso de las vacas regularmente. Ajusta la
    dieta según las necesidades para asegurar un peso saludable y una
    reproducción exitosa.
  </p>

  <h2>10. Registros y Documentación:</h2>

  <p>
    Mantén registros detallados sobre la salud, el peso y las prácticas de
    reproducción. Esto te ayudará a tomar decisiones informadas y a evaluar el
    éxito de tu programa de crianza.
  </p>
</div>

<div class="defecto" *ngSwitchDefault></div>
</main>