<main>
  <form [formGroup]="productoForm">
    <input formControlName="nombre" type="text" placeholder="nombre">
    <input formControlName="descripcion" type="text" placeholder="descripcion">
    <input formControlName="precio" type="number" placeholder="precio">
    <input formControlName="cantidadFinal" type="number" placeholder="cantidad">
    <input formControlName="fecha" type="date" placeholder="fecha">
    <button type="submit" (click)="botonProducto()">Ingresar</button>

  </form>
  <div class="marco">
    <h1>Producto</h1>
    <button type="button">+</button>
  </div>
  <div class="productos">
    
    <table>
      <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody *ngFor="let producto of productos">
      <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.cantidadFinal}}</td>
        <td>{{producto.fecha}}</td>
        <td>{{producto.precio*producto.cantidadFinal}}</td>
        <td><button type="button" (click)="selectEdithProducto(producto)">editar</button></td>
          <td><button type="button" (click)="eliminarProducto(producto.id)">borrar</button></td>
      </tr>
    </tbody>
    </table>
  </div>
</main>