header{
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 6px 0px;
    align-items: center;
    padding: 10px 10%;
    background-color: #1b3039;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

li{
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color:aqua ;
    /* transform: scale(1.1); */
}

h1{
    margin-right: auto;
}