ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

li{
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color:aqua ;
    /* transform: scale(1.1); */
}

h1{
    margin-right: auto;
}