<form [formGroup]="proyectoForm">
  <label for="nombre">Nombre:</label>
  <input formControlName="nombre" type="text" id="nombre" />
  <label for="descripcion">Descripción:</label>
  <input formControlName="descripcion" type="text" id="descripcion" />
  <button type="submit" (click)="botonProyecto()"><img class="add" src="/assets/images/add.png"></button>
</form>

<div class="proyecto" *ngFor="let proyecto of proyectos">
  <h1>{{ proyecto.nombre }}</h1>
  <p>{{ proyecto.descripcion }}</p>
  <button type="button" (click)="selectEditProyecto(proyecto)"><img class="edith" src="/assets/images/edith.png"></button>
  <button type="button" (click)="eliminarProyecto(proyecto.id)"><img class="delete" src="/assets/images/delete.png"></button>
</div>
<div class="vacio" *ngIf="proyectos.length === 0">
  <h2>Aún no tienes ningun proyecto</h2>
</div>
